
.vertical-center {
 	min-height: 100%; 
  	min-height: 100vh;
}

.info-header, 
res1header, 
res2header, 
body {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.info {
	line-height: 0.75cm;
	font-family: 'Libre Baskerville', serif;
}

p {
	cursor: default;
}

.gap {
	gap: 20px;
}

#language_map {
	height: 700px;
}

hr {
	height: 2px;
	background-color: black;
	border: none;
	margin: 10px 10% 0 10%;
}

img[alt="Word Cloud"] {
	width: 50%;
}

.mouseover {
	cursor: pointer;
	border-radius: 10px;
	padding: 30px 0;
}

.mouseover:hover {
	background-color: white;
}

.footer {
	margin-top: 40px;
}

.row._1 {
	margin: 40px 5% 0 5%;
}

.row._2 {
	margin: 0 5% 30px 5%;
}

.row._3, .row._4, .row._6, .row._7 {
	margin: 0 5%;
}

.row._5 {
	margin: 30px 5% 0 5%;
}
