@media (min-width: 1201px) {
	res1header {
		font-size: 24px;
	}
	res2header {
		font-size: 24px;
	}
}

@media (max-width: 1200px) {
	res1header {
		font-size: 22px;
	}
	res2header {
		font-size: 24px;
	}
}

@media (max-width: 1000px) {
	res1header {
		font-size: 20px;
	}
}

@media (max-width: 700px) {
	res1header {
		font-size: 18px;
	}
	res2header {
		font-size: 22px;
	}
}

@media (max-width: 500px) {
	res1header {
		font-size: 16px;
	}
	res2header {
		font-size: 20px;
	}
}


body{
	background: #f2f2f2;
}

h3, res1header, res2header, body{
	font-family: 'Helvetica', 'Arial', sans-serif;
}

h3 small{
	font-family: "Libre Baskerville", serif;
}

.navbar{
	background: white;
}

.spacer{
	margin-top: 40px;
}

.footer{
	position: relative;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: #333333;
}

hr{
	height: 2px;
	background-color: black;
	border: none;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0;
	margin-bottom: 0;
}

.col-container{
	display: flex;
	width: 100%;
}

.adjust {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mouseover{
	cursor: pointer;
}

.mouseover:hover{
	background-color: white;
}


#language_map {
  	width: 100%;
  	height: 500px;
  	overflow: hidden;
}







