
html, body {
	margin: 0;
	height: 100%
}

.navbar {
	padding: 10px;
}

.nav.navbar-nav.navbar-right li a {
	color: black;
	font-size: 18px;
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.nav.navbar-nav.navbar-right li a:hover {
	color: #f5d654;
	background: white;
}

.navbar-toggle {
	background: black;
}

.icon-bar {
	background: white;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	white-space: nowrap;
}

.sidenav a {
	padding-bottom: 10px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidenav a:hover {
	color: #f5d654;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#overlay {
	position: fixed;
	top: 0;
	opacity: 1;
	width: 0;
	left: 0;
	height: 100%;
	background-color: black;
}











	




