
@media (min-width: 1201px) {
	.info {
		font-size: large;
	}
	.info-header {
		font-size: xx-large;
	}
}

@media (max-width: 1200px) {
	.info {
		font-size: medium;
	}
	.info-header {
		font-size: x-large;
	}
}