
.info-header {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.info {
	font-family: "Libre Baskerville", serif;
}

.top div.row:first-child {
	margin: 40px 5% 0 5%;
}

.top div.row:nth-child(2) {
	margin: 0 5% 30px 5%;
}

.gap {
	gap: 20px;
}

img[alt="University Image"] {
	width: 90%;
}

.footer {
	margin-top: 40px;
}