
.vertical-center {
 	min-height: 100%; 
  	min-height: 100vh;
}

.info-header, 
#main_format,
inthead,
#cloud_header {
	font-family: 'Helvetica', 'Arial', sans-serif;
}

.info {
	font-family: "Libre Baskerville", serif;
	line-height: 0.75cm;
}

.top div.row:first-child {
	margin: 40px 5% 0 5%;
}

.top div.row:last-child {
	margin: 0 5% 30px 5%;
}

.gap {
	gap: 20px;
}

#main_format {
	padding: 20px;
	border: 5px solid black;
	border-radius: 10px;
	background: #FFFFFF;
}

#rule_dropdown {
	width: 100%;
	cursor: pointer;
}

textarea {
	width: 100%;
	vertical-align: top;
	height: 80px;
}

#upload_text_form {
	cursor: pointer;
}

#cloud_header {
	margin-top: 20px;
}

#cloud_header,
#over_rep,
#under_rep,
#over_wc,
#under_wc {
	display: none;
}

#whole_wc, 
#over_wc, 
#under_wc {
	display: none;
	justify-content: center;
	align-items: center;
	height: 500px;
	background: white;
	padding: 5px;
	border: solid #f2f2f2;
	border-radius: 10px;
}

div.hover_freqs {
     position: absolute;
     text-align: center;
     padding: 5px;
     background: white;
     color: black;
     border: 1px solid black;
     border-radius: 8px;
     font-size: 12px;
}

.footer {
	margin-top: 40px;
}

.top,
inthead,
#existing,
.col._2 .A div,
.col._2 .B div,
#cloud_header,
#cloud_header p{
	cursor: default;
}
